/* MODAL PICKUP USERS */
body {
    background-color: antiquewhite;
}
h1 {
    display: flex;
    justify-content: center;
}
h2 {
    display: flex;
    justify-content: center;
}
.datos {
    display: flex;
    justify-content: center;
}
.blanca {
    position: relative;
    width: 40px;
    height: 25px;
    background-color: rgb(231, 230, 230);
    border-radius: 65px / 25px;
  }
.blanca:before {
    content: "";
    position: absolute;
    background-color: rgb(252, 252, 252);
    width: 40px;
    height: 10px;
    border-radius: 65px / 15px;
    top: 0px;
}
.negra {
    position: relative;
    width: 40px;
    height: 25px;
    background-color: rgb(80, 80, 80);
    border-radius: 65px / 25px;
  }
.negra:before {
    content: "";
    position: absolute;
    background-color: rgb(134, 134, 134);
    width: 40px;
    height: 10px;
    border-radius: 65px / 15px;
    top: 0px;
}
.player1 {

}
#logo {
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px
}

.logo_vs {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: -30px;
}
.player2 {

}
.jugar {
    display: flex;
    justify-content: center;
}

.modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
}

/* GAME */

body,
html {
    transition: 1s ease-in-out;
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}

/* TABLERO */
.square {
    float: left;
    width: 80px;
    height: 80px;
}

.white_square {
    background-color: #dbba9a;
}

.black_square {
    background-color: #ad6924;
}

.clear_float {
    clear: both;
}

.table_game {
    position: relative;
    width: 640px;
    height: 640px;
    margin: 0 auto;
}

.show_info_game {
    position: relative;
    width: 640px;
    margin: 0 auto;
}

.checker_puntuation {
    text-align: -webkit-center;
}

.puntuation {
    font-weight: 700;
}

.title-game {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

/* FICHAS */
.checker {
    margin-top: 10px;
    margin-left: 10px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 4px solid white;
    cursor: pointer;
}

.white_checker {
    background: #94c7c3;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.black_checker {
    background: #515155;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}