body,
html {
    transition: 1s ease-in-out;
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}

/* TABLERO */
.square {
    float: left;
    width: 80px;
    height: 80px;
}

.white_square {
    background-color: #dbba9a;
}

.black_square {
    background-color: #ad6924;
}

.clear_float {
    clear: both;
}

.table {
    position: relative;
    width: 640px;
    height: 640px;
    margin: 0 auto;
}

/* FICHAS */
.checker {
    top: 10px;
    left: 10px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    border: 4px solid white;
    cursor: pointer;
}

.white_checker {
    background: #94c7c3;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.black_checker {
    background: #515155;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}